
/data/*

*.pyc
.RData
.Rhistory
*.csv
!*p_vals*.csv
!*linear_comp_df*.csv
!*cols*.csv
!*ppl*.csv
!*density*.csv
!*context_names*.csv
!*context_dll_tests*.csv
!*dll_compare_plan*.csv
!*P_A_context_instructions_df.csv
!*test_union_text_dfs_enriched_lst_expected.csv
!*context_instruct*.csv
!reread_by_surp_col.csv
!*valid_combinations*.csv
!*ratio_plan*.csv
!*context_metrics_diff*.csv
!*log_filter_params*.csv
!*dll_tests*.csv
!dll_raw_df_test.csv
!dll_comp_df_test.csv
!*metrics_diff*.csv

.DS_Store